extends layout

block content
    div(class="container-fluid text-center")
        form(name="selections", method="post")
            input(type="hidden", name="_csrf", value=csrfToken)
            div(class="row")
                -var gameNumber = 1
                each val in games.fixtures[0]
                    -var handicap = val.handicap
                    div(class="col-sm-6")
                        div(class="panel panel-default")
                            div(class="panel-heading") 
                                span(class="h4") #{val.awayTeam} @ #{val.homeTeam}
                                input(class="pull-right", type="radio", name="nap", value="game1", checked="true") 
                                label(class="pull-right padding10pxright") Nap
                            div(class="panel-body")
                                div(class="row")
                                    div(class="col-sm-6 pickButton")
                                        span #{val.awayTeam} #{val.handicap} 
                                        input(type="radio", name="game#{gameNumber}", value="awayTeam", checked="true") 
                                    div(class="col-sm-6 pickButton")
                                        span #{val.homeTeam} #{val.handicap}
                                        input(type="radio", name="game#{gameNumber}", value="homeTeam") 
                                div(class="row")
                                    div(class="col-sm-6 pickButton")
                                        span Under #{val.spread} 
                                        input(type="radio", name="game#{gameNumber}", value="under") 
                                    div(class="col-sm-6 pickButton")
                                        span Over #{val.spread}
                                        input(type="radio", name="game#{gameNumber}", value="over") 
                    - gameNumber++
            button(class="btn btn-default btn-md", type="submit") Save Selections
