extends layout

block content
    div(class="container text-center padding10px")
        h2 #{league.lName}
        if league.status == 0
            h4 League ID = #{league._id} 
            h4 League Entry Code = #{league.eCode}
    div(class="container")
        div(class="table-responsive")
            table(class="table table-bordered table-striped tableCenterText")
                thead
                    tr
                        th #
                        th Name
                        th Last Week
                        th Overall
                        th Points
                tbody
                - var pos = 1
                    each val in league.players
                        tr
                            td #{pos}
                            td #{val.Name}
                            td #{val.lastWeekRight} - #{val.lastWeekWrong}
                            td #{val.overallRight} - #{val.overallWrong}
                            td #{val.points}
                        - pos++
                    